.custom-carousel-wrapper {
//   width: calc(100% - 2rem);
    height: calc(100vh - 0.3rem) !important;
    width: 100%;
//   margin: 0 auto;
    .three-d-text{
      color: #fff;
      font-size: 3rem;
      font-weight: bold;
      letter-spacing: 4px;
      text-shadow: 
        1px 1px 0 #ccc,
        2px 2px 0 #bbb,
        3px 3px 0 #aaa,
        4px 4px 0 #999,
        5px 5px 0 #888,
        6px 6px 0 #777,
        7px 7px 0 #666;
      
    }
}

.covered-image {
  object-fit: cover;
  height: calc(100vh - 0.3rem) !important;
  width: 100%;
}


.carousel-caption {
  opacity: 0;
  transform: translateX(-100%);
  animation: slideIn 1s forwards;
}

.carousel-item.active .carousel-caption {
  opacity: 1;
  transform: translateX(0);
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media screen and (max-width: 1200px) {
  .custom-carousel-wrapper {
    height: calc(100vh - 0.3rem) !important;
    .carousel-item{
      .covered-image {
        width: 100% !important;
        height: calc(100vh - 0.3rem);
      }
    }

  }
}

@media screen and (max-width: 768px) {
  .custom-carousel-wrapper {
    width: 100%;
    
  }
  .covered-image {
    height: 400px; /* Adjust height for mobile */
  }
  .carousel-caption {
    font-size: 1.2rem; /* Adjust font size for mobile */
  }
    
}

@media screen and (max-width: 480px) {
  .carousel-caption {
    font-size: 1rem !important;
  }
    
}