.client-carousel-wrapper {
    /* background: linear-gradient(to right, #0f1010 20%, #2b945e 50%); */
    background: radial-gradient(circle, rgba(212,175,55,0.3) 0%, rgba(212,175,55,0) 70%);
    padding: 30px 10px;
    position: relative;
    z-index: 1;
  }
  
  .client-carousel-wrapper::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(15, 16, 16, 0.3);
    z-index: 0;
  }
  
  .client-carousel-wrapper h3 {
    color: #28a745;
    font-size: 1.8rem;
    text-align: center;
    font-weight: 600;
    letter-spacing: 1px;
  }
  
  .logo-slide {
    display: flex !important;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 0;
  }
  
  .logo-box {
    background-color: transparent;
    border-radius: 12px;
    padding: 12px;
    backdrop-filter: blur(6px);
    box-shadow: inset 0 0 4px rgba(40, 167, 69, 0.2),
                0 2px 6px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s, box-shadow 0.3s, background 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    width: 100%;
  }
  .logo-box img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    transition: transform 0.3s ease;
  }
  
  .logo-box:hover {
    background: rgba(255, 215, 0, 0.08);
    transform: scale(1.04);
    box-shadow: 0 0 10px rgba(255, 215, 0, 0.3);
  }
  
  .client-logo {
    width: 100%;
    max-height: 45px;
    object-fit: contain;
    color: #fff;
    transition: transform 0.3s ease;
  }
  
  
  /* Mobile Optimization */
  @media (max-width: 768px) {
    .client-logo {
      width: 90px;
      max-height: 40px;
    }
    .logo-box img {
      max-width: 90px;
      max-height: 40px;
    }
  
    .logo-box {
      height: 80px;
      width: 100px;
      padding: 10px;
    }
  }
  