body{
    // font-family: 'open-sans', sans-serif;
    font-family: 'Vidaloka' !important;
    background-color: #f0f0f0;
    color: #333;
}


body.modal-open {
  overflow: hidden !important;
  height: 100vh;
  position: fixed;
  width: 100%;
  touch-action: none;
}


// Reset Bootstrap navbar styles
.navbar:not(.bootstrap-scope .navbar) {
  position: initial;
  padding: initial;
  z-index: initial;
  background-color: initial;
  flex-wrap: initial;
  
  .navbar-nav, .navbar-collapse {
    flex-direction: initial;
  }
}

.golden-line {
    height: 5px;
    background: linear-gradient(90deg, #FFD700, #FFA500);
}


.image-container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  overflow: hidden;

  img {
      object-fit: cover;
      height: calc(100vh - 0.3rem) !important;
      width: 100%;
  }

  .text-overlay {
    position: absolute;
    top: 90%;
    left: clamp(60%, 70vw, 80%);;
    pointer-events: none;
    transform: translate(-50%, -50%);

    h1 {
      font-size: 8vw;
      font-weight: bold;
      color: white;
      text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
      opacity: 1;
      animation: slideToCenter 2s ease-out forwards;
      white-space: nowrap;
      text-align: center;
    }
  }
}

@keyframes slideToCenter {
  0% {
    opacity: 0;
    transform: translate(-150%, -50%);
  }
  60% {
    opacity: 1;
    transform: translate(-55%, -50%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}