body{
    // font-family: 'open-sans', sans-serif;
    font-family: 'Vidaloka' !important;
    background-color: #f0f0f0;
    color: #333;
}


body.modal-open {
  overflow: hidden !important;
  height: 100vh;
  position: fixed;
  width: 100%;
  touch-action: none;
}


// Reset Bootstrap navbar styles
.navbar:not(.bootstrap-scope .navbar) {
  position: initial;
  padding: initial;
  z-index: initial;
  background-color: initial;
  flex-wrap: initial;
  
  .navbar-nav, .navbar-collapse {
    flex-direction: initial;
  }
}

.golden-line {
    height: 5px;
    background: linear-gradient(90deg, #FFD700, #FFA500);
}